<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>TopEducation</title>
    </head>
    <body>
        <h2>TopEducation</h2>

        <form action = "/ingresoDatos" method="get" enctype="application/json">
          <label >Desea Ingresar sus datos</label>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>

        <form action = "/generarCuota" method="get" enctype="application/json">
            <label >Desea Generar sus cuotas</label>
            <button type="submit" class="btn btn-primary">Generar</button>
        </form>

        <form action = "/mostrarCuotaR" method="get" enctype="application/json">
            <label >Desea ver sus cuotas</label>
            <button type="submit" class="btn btn-primary">Mostrar</button>
        </form>

    </body>
</html>